// .{
//   padding: $page-padding;
//   box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.1);
//   border-radius: $border-radius-default;
// }

.CardFiltered {
  width: 285px;
  height: 137px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  .card {
    background-color: $color-primary-contrast;
    width: 100%;
    border-radius: 10px;
    display: flex;
    padding: 30px 15px 15px;
    justify-content: space-between;
    position: relative;

    box-shadow: 5px 4px 11px -8px #000000;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;

    line-height: 1.1;

    &_wrapper {
      width: 150px;
      display: flex;
    }
    &_title {
      font-size: $heading5;
      font-weight: $font-bold;
      color: $color-light-contrast;
      width: 145px;
      white-space: nowrap;

      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 1;
    }

    &_category {
      font-size: $paragraphSmall;
      color: $color-primary;
      padding-bottom: 20px;
    }
    &_area {
      font-size: $paragraphExtraSmall;
    }

    p {
      margin: 0;
    }
  }
  .buttonSave {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .image {
    width: 80px;
    height: 127px;

    position: absolute;
    top: 0;

    right: -10px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 80px;
      width: 80px;
      height: auto;

      border-radius: 50%;
    }
  }
}

.FilteredCard:active {
  scale: 1.1;
}
// TABLET and DESKTOP

@media screen and (min-width: 641px) and (max-width: 1496px) {
  .CardFiltered {
    width: 354px;
    height: 175px;

    .card {
      height: 150px;

      padding: 40px 30px 25px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 180px;

      line-height: 1.1;

      &_wrapper {
        width: 180px;
      }
      &_title {
        width: 180px;
        font-size: 18px;
      }

      &_category {
        font-size: 14px;

        padding-bottom: 30px;
      }
      &_area {
        font-size: 14px;
      }

      p {
        margin: 0;
      }
    }
    .buttonSave {
      top: calc(115px - 33px);
    }

    .image {
      width: 120px;
      height: 120px;

      .image {
        width: 80px;
        height: 127px;

        position: absolute;
        top: 0;

        right: -10px;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: center;
          width: 80px;
          width: 80px;
          height: auto;

          border-radius: 50%;
        }
      }

      right: -25px;

      img {
        width: 120px;
      }
    }
  }

  .FilteredCard:hover {
    scale: 1.1;
  }
}
