.ButtonText{
  border-radius: $border-radius-button;
  padding: 16px;

  &.ButtonText__active{
    background-color:  	$color-primary;
  }

  &.ButtonText__notActive{
    background-color:  	$color-secondary;
  }
}