.Recipe {
  padding: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  overflow: hidden;
  .CardHero {
    width: 100%;
    position: relative;
    max-width: 887px;
    .button {
      @media all and (min-width: 768px) {
        bottom: 0;
      }
    }
    .link {
      text-decoration: none;
    }
    .buttonCenter {
      position: absolute;
      left: 52.2%;
      top: 50%;
      transform: translate(-52%, -52%);
      z-index: 1;
      button {
        width: 50px;
        height: 50px;
        svg {
          width: 30px;
          height: 30px;
        }
        @media all and (max-width: 768px) {
          position: relative;

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          width: 46px;
          height: 46px;

          svg {
            position: relative;
            left: 9%;
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }
  .Instructions {
    background-color: #e8e8e8;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden;
    border-radius: 12px;
    @media all and (min-width: 768px) {
      min-width: 315px;
    }
  }
  .TitleInstr {
    font-weight: $font-bold;
  }
  .Desc {
    font-weight: $font-regular;
    color: $color-step-600;
    font-size: 14px;
  }
  .Ingredients {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .TitleIngr {
      font-weight: $font-bold;

      padding-left: 16px;
      margin-bottom: -6px;
      font-size: $text-card-title;
      @media all and (min-width: 768px) {
        font-size: 20px;
        padding: 0;
      }
    }
    .container {
      display: flex;
      align-items: center;
      width: calc(100% - 20px);
      justify-content: space-between;
      padding: 10px;

      border-radius: 12px;
      height: fit-content;
      background-color: $color-step-900;
      .Measure {
        display: flex;
        margin-right: 5px;
        width: -moz-fit-content;
        width: 100%;
        color: $color-step-600;
        justify-content: flex-end;
        flex-direction: row;

        text-align: end;
        font-size: $text-card-title;
      }
      .IngrContainer {
        // border: 1px solid red;
        width: 100%;
        .IngrText {
          margin-left: 12px;
          width: fit-content;
          font-weight: 500;
          font-size: $text-card-ingredient;
        }
      }
      .img {
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
      }
      .img img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .Instructions {
    width: 100%;
  }
  .wrapper {
    max-width: 887px;
    width: calc(100% - 5px);
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: $gap;
  }

  .container {
    min-width: 315px;
  }
}
