.Recipe {
  padding: $page-padding;

  .Instructions {
    width: 315px;

    background-color: $color-step-900;
    padding: 15px;
    border-radius: 12px;
  }
  .Title {
    font-weight: $font-bold;
  }
  .Desc {
    font-weight: $font-regular;
    color: $color-step-600;
    font-size: $text-card-title;
  }
  .Ingredients {
    display: flex;
    flex-direction: column;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid red;
      width: 300px;
      height: fit-content;
      background-color: $color-step-900;
      .Measure {
        display: flex;
        flex-direction: column;
        width: fit-content;
        font-size: $text-card-title;
      }
      .IngrContainer {
        border: 1px solid red;
        display: flex;

        justify-content: start;
        .TitleIngr {
          border: 1px solid blue;
          font-size: $text-card-ingredient;
        }
      }
      .img {
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
      }
      .img img {
        width: 100%;
        height: 100%;
        border: 1px solid red;
      }
    }
  }
}
