.HomePage {
  width: 100vw;
  height: 100vh;

  // display: flex;
  // flex-direction: column;

  .responsive {
    display: flex;
    flex-direction: column;
  }

  .responsiveFilter {
    display: flex;
    flex-direction: column;
    .section {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .responsiveMain {
    display: flex;
    flex-direction: column;
  }

  .section {
    margin-bottom: $page-section-gap;

    &.section_padding {
      padding-left: $page-padding;
      padding-right: $page-padding;
    }
  }
}

@media screen and (min-width: 641px) {
  .HomePage {
    width: 100vw;
    height: 100vh;

    .responsive {
      display: flex;
      flex-direction: row;
      padding: 0 40px;
    }

    .responsiveFilter {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: 40px;
      position: sticky;
    }
    .responsiveMain {
      margin-top: 18px;

      display: flex;
      flex-direction: column;
      width: 60%;
    }

    .section {
      margin-bottom: $page-section-gap;

      &.section_padding {
        padding-left: $page-padding;
        padding-right: $page-padding;
      }
    }
    .desktopQuery {
      display: none;
    }
  }
}
