.HomePage{ 
  width: 100vw;
  height: 200vh;
  overflow: hidden;
  .section{
    margin-bottom: $page-section-gap;

    &.section_padding{
      padding-left: $page-padding;
      padding-right: $page-padding;
    }
  }
}