.CardHero {
  border-radius: $border-radius-default;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .CardHero__gradient {
    aspect-ratio: 2 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #000);
    border-radius: $border-radius-default;
    .header {
      padding: $page-padding;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    .content {
      color: $text-color;
      padding: $page-padding;
      .card__title {
      }
      .card__subtitle {
      }
    }
  }
}
