.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  .buttonFilter {
    button {
      border-radius: 18px;
    }
    svg {
      width: 38px;
      height: 38px;
    }
  }
  .searchIcon__container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .SearchBar {
    padding: 19px 20px 19px 70px;
    width: calc(100% - (22px * 2));
    border-radius: $border-radius-default;
    border: 2px solid $color-medium;
    color: $color-primary;
    outline: none;
    font-size: 16px;

    &:focus {
      border: 2px solid $color-primary;
    }
  }
}
