.Navbar {
  position: fixed;
  top: 0;
  width: calc(100% - ($page-padding * 2));
  // height: calc($navbar-height - ($page-padding * 2));
  padding: 0 $page-padding 0 $page-padding;
  height: $navbar-height;
  z-index: 999;
  background-color: $color-light;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .sx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .pageTitle {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
