// Radius ---------------
$border-radius-button: 10px;
$border-radius-button-icon: 100%;

// Heigth----------------
$heigth-button-cta: 37px;
$heigth-button-filter: 27px;
$heigth-button-filter-icon: 37px;
$heigth-button-filter-save: 30px;

// Paddings -------------
$padding-button-filter: 5px 10px;
$padding-button-cta: 10px 20px;
