.SectionPage {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: -1;
  }
  .content {
    padding: $page-padding;
  }
}
