.FilteredCard {
  width: 250px;
  height: 127px;
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  cursor: pointer;

  .card {
    height: 95px;

    background-color: $color-primary-contrast;
    width: 100%;
    border-radius: 10px;
    display: flex;
    padding: 30px 15px 15px;
    justify-content: space-between;
    position: relative;
    box-shadow: 5px 4px 11px -8px #000000;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;

    line-height: 1.1;

    &_wrapper {
      width: 150px;
      display: flex;
    }
    &_title {
      font-size: $text-card-title;
      font-weight: $font-bold;
      color: $color-light-contrast;
      width: 145px;
      white-space: nowrap;

      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 1;
    }

    &_category {
      font-size: $text-card-description;
      color: $color-primary;
      padding-bottom: 20px;
    }
    &_area {
      font-size: $text-card-description;
    }

    p {
      margin: 0;
    }
  }
  .buttonSave {
    height: 33px;
    width: 33px;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: calc(85px - 33px);
  }

  .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    transform: translateY(-20%);
    right: -10px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 80px;
      height: auto;
    }
  }
}

.FilteredCard:active {
  scale: 1.1;
}
// TABLET and DESKTOP

@media screen and (min-width: 641px) and (max-width: 1496px) {
  .FilteredCard {
    width: 354px;
    height: 175px;
    transform: $animation-all;

    .card {
      height: 150px;

      padding: 40px 30px 25px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 180px;

      line-height: 1.1;

      &_wrapper {
        width: 180px;
      }
      &_title {
        width: 180px;
        font-size: 18px;
      }

      &_category {
        font-size: 14px;

        padding-bottom: 30px;
      }
      &_area {
        font-size: 14px;
      }

      p {
        margin: 0;
      }
    }
    .buttonSave {
      top: calc(115px - 33px);
    }

    .image {
      width: 120px;
      height: 120px;

      right: -25px;

      img {
        width: 120px;
      }
    }
  }

  .FilteredCard:hover {
    scale: 1.1;
  }
}
